  <div class="container">
      <p class="midashi text-center">お問い合わせ確認</p>
    <div class="row">
      <p class="col-1"></p>
    </div>
      <%= form_for @contact, :url => contacts_path do |f| %>
        <table class="table">
          <tr>
            <th class="font">名前</th>
            <td>
              <%= f.hidden_field :name %>
              <%= @contact.name %>
            </td>
          </tr>
          <tr>
            <th class="font">メールアドレス</th>
            <td>
              <%= f.hidden_field :email %>
              <%= @contact.email %>
            </td>
          </tr>
          <tr>
            <th class="font">お問い合わせ内容</th>
            <td>
              <%= f.hidden_field :message %>
              <%= simple_format(@contact.message) %>
            </td>
          </tr>
        </table>
        <div class="row justify-content-center mt-5 mb-5 ml-5">
          <%= f.submit '送信', :class => ' w-25 btn-animation-border btn-sm btn-block' %>
        </div>
      <% end %>
  </div>