<div class='top-bg px-5 px-sm-0'>
  <div class="container">
    <p class="midashi text-center">ログインページ</p>
  </div>
  <div class="mt-5">
        <%= form_with model: @user, url: user_session_path, local: true, :html => {:id=>'form_id'} do |f| %>
    <div class="container">
      <div class=" row justify-content-center">
            <%= f.label :email, "メールアドレス", class: "col-2 font" %>
            <%= f.email_field :email, autocomplete: "email", placeholder: "sample@example.com", class: "col-3" %>
      </div>
      <div class="row justify-content-center mt-3">
            <%= f.label :password, "パスワード", class: "col-2 font" %>
            <%= f.password_field :password, autocomplete: "current-password", class: "col-3" %>
      </div>
      <div class="row justify-content-center mt-5 mb-5 ml-5">
            <%#= f.submit "　Log in　", class: "btn-animation-border btn-sm btn-block" %>
            <%= link_to '　Log in　', "", :onclick => "$('#form_id').submit()", class: "  btn-animation-border" %>
        <div class="col-1"></div>
        </div>
          <% end %>
      </div>
    </div>
  </div>
</div>


