<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-success">
    <div class="container">
      <a class="navbar-brand p-3" href="/"><%= "LOGO" %></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">

        <% if user_signed_in? %>
          <li><%= current_user.name %></li>
          <li><i class="fas fa-list" style= "color:orange;"></i><%= link_to ' お気に入り　' ,book_marks_index_path, style:"color:orange;"%></li>
          <li><i class="fas fa-list" style= "color:orange;"></i><%= link_to ' 販売場所一覧　' ,makiis_path, style:"color:orange;"%></li>
          <li><i class="fas fa-user-secret" style= "color:orange;"></i><%= link_to ' 薪を売りたい　',new_makii_path ,style:"color:orange;" %></li>

          </li> <% if unchecked_notifications.any? %>
          <i class="fa fa-circle" style="color: gold;"></i>
          <% end %>
          <li><i class="fas fa-brain" style= "color:orange;"></i><%= link_to ' お知らせ　' ,notifications_path, style:"color:orange;",class: "btn-default"  %></li>
          <li><i class="fas fa-dna" style= "color:orange;"></i><%= link_to ' 問い合わせ　' , style:"color:orange;" %></li>
          <li><i class="fas fa-sign-out-alt" style= "color:orange;"></i><%= link_to ' ログアウト　' , destroy_user_session_path, method: :delete, style:"color:orange;" %></li>
        <% else %>

          <li><i class="fas fa-birthday-cake" style= "color:orange;"></i><%= link_to ' ABOUT', style:"color:orange;" %></li>
          <li><i class="fas fa-list" style= "color:orange;"></i><%= link_to ' 問い合わせ　', style:"color:orange;" %></li>
          <li><i class="fas fa-address-card" style= "color:orange;"></i><%= link_to ' 新規登録　' ,new_user_registration_path,style:"color:orange;"%></li>
          <li><i class="fas fa-sign-out-alt" style= "color:orange;"></i><%= link_to ' ログイン　' , new_user_session_path, style:"color:orange;" %></li>
        <% end %>

        </ul>
      </div>
    </div>
  </nav>
</header>