<!DOCTYPE html>
<html>
  <head>
    <title>Maki</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <header class ="sticky-top">

    <%= render 'layouts/header' %>

    </header>
    <main>
    <%= yield %>
    </main>
     <footer class ="fixed-bottom">
      <div class='container mt-3'>
  	    <div class='row text-center'>
    	    <div class='mx-auto'>
    		    <p class='footer_text'>
    		      MAKI-MAKET<br>
    		      Presented by Kube.Makio
    		    </p>
    	    </div>
        </div>
      </div>
    </footer>
  </body>
</html>
